# Javascript
**/target/
**/.idea/
**/node_modules/
**/.DS_Store
**/*.iml

# Java
backend/HELP.md
target/
!backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# STS 
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Editor directories and files
backend/.idea
*.iws
*.iml
*.ipr
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
